* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  max-width: 400px;
}
.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-image {
  background-image: url("https://images.unsplash.com/photo-1646009759852-f035b994a783?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fHN0YXJ3YXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");

  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
}
.hero-text {
  text-align: center;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(174, 173, 173);
}
#radiobutton {
  display: none;
}
.hide {
  display: none;
}

.show {
  display: block;
}
#navigationButtons {
  display: flex;
  padding: 1em 2em;
  color: #e0f2f1;
  border: 0;
  border-radius: 50px;

  letter-spacing: 2px;
  outline: 0;
  margin-top: 10%;
  bottom: 20px;
}
